<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/Images/dotnetsaifavicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />


    @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Content/css")
</head>
<body>
    <header>
      
            <div class="col-md-12 col-sm-12">
                <section id="login">
                     @Html.Partial("_LoginPartial")
                </section>
            </div>
        
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="">
            @RenderBody()
        </section>
    </div>
  <footer>
        <div class="container">
            <div class="text-center footer">
              Developed By <a href="mailto:saihacksoft@gmail.com">Saineshwar Bageri</a>
              Designed By <a href="mailto:suryakantubhe@gmail.com">Suryakant Prakash ubhe</a>
            </div>
        </div>
    </footer>
  
    
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
</body>
</html>
